/* Navbar */
#navigacio {
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#navigacio ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigacio li {
    float: left;
}

#navigacio li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#navigacio li a:hover {
    background-color: royalblue;
}
